[user]
	email = acramsay@proton.me
	name = Alex Ramsay
[alias]
	l = log --graph --pretty=format:'%C(05)%>|(26)%h  %C(04)%<(13)%cr %C(green)%<(20,trunc)%an %C(bold 1)%d %C(bold 0)%>|(1)%s'
[column]
	ui = auto column dense
[core]
	editor = hx
[branch]
	sort = -committerdate
[credential "https://github.com"]
	username = acramsay
[diff]
	algorithm = histogram
	colorMoved = plain
	mnemonicPrefix = true
	renames = true
[fetch]
	all = true
	prune = true
	pruneTags = true
[help]
	autocorrect = prompt
[init]
	defaultBranch = main
[merge]
	conflictstyle = diff3
[push]
	autoSetupRemote = true
	default = simple
[rebase]
	autoSquash = true
	autoStash = true
	updateRefs = true
[rerere]
	enabled = true
	autoupdate = true
[tag]
	sort = version:refname
[include]
	path = ~/.gitconfig.os
[include]
	path = ~/.gitconfig.local
