theme = "transparency"

[editor]
bufferline = "always"
end-of-line-diagnostics = "hint"
scrolloff = 15

[editor.cursor-shape]
insert = "bar"
normal = "block"
select = "underline"

[editor.file-picker]
follow-symlinks = false
git-ignore = false
hidden = false
ignore = false

[editor.indent-guides]
render = true
character = "┊"
skip-levels = 1

[editor.inline-diagnostics]
cursor-line = "warning"

[editor.lsp]
display-inlay-hints = true
display-progress-messages = true

[editor.soft-wrap]
enable = true
wrap-indicator = "↩ "

[editor.statusline]
left = [ "mode", "spinner", "diagnostics" ]
center = [ "version-control", "spacer", "file-name", "read-only-indicator" ]
right = [ "workspace-diagnostics", "position", "total-line-numbers", "file-type" ]
mode.normal = "NORMAL"
mode.insert = "INSERT"
mode.select = "SELECT"

[keys.normal]
D = "delete_char_backward"
C-h = "goto_previous_buffer"
C-k = ["extend_to_line_bounds", "delete_selection", "move_line_up", "paste_before"]
C-j = ["extend_to_line_bounds", "delete_selection", "paste_after"]
C-l = "goto_next_buffer"
C-g = [
    ":write-all", 
    ":new", 
    ":insert-output lazygit", 
    ":set mouse false",
    ":set mouse true",
    ":buffer-close!", 
    ":redraw", 
    ":reload-all"
]
# Select the current word
W = "@miw"

[keys.normal.space]
"o" = """:sh wezterm cli split-pane sh -c "yazi --chooser-file=/dev/stdout | while read -r; do wezterm cli send-text --pane-id ${WEZTERM_PANE} --no-paste \\":o \\${REPLY}\r\\"; done" > /dev/null"""
"." = "file_picker_in_current_buffer_directory"
c = "toggle_comments"
